html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url("../images/bg-background.jpg");
}

a {
  color: #00a1e0;
  text-decoration: none;
}

.active {
  background-color: #00a1e0;
  color: white;
}

.navbar .icon {
  display: none;
}

.form-input {
  display: block;
  border: 1px solid #ced4da;
  width: 100%;
  border-radius: 0.25rem;
  margin-bottom: 20px;
  height: 35px;
  font-size: 15px;
}

.btn-primary {
  background-color: #00a1e0;
  border-color: #00a1e0;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.float-right {
  float: right;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
