@import url("Common.css");
.title {
    text-align: center;
    padding: 50px 0 20px;
}


/* body {
    background: #f6f6f8;
} */

.card-body h3 {
    color: #00a1e0;
}

.auth-card {
    width: 25rem;
}


/*

.title p {
    font-weight: bold;
} */

.login-panel {
    display: grid;
    justify-content: center;
    align-items: center;
}


/* .login-panel {
    width: auto;
    height: auto;
    border: 1px solid #ced4da;
    background: #fff;
} */


/* .input-container {
    padding: 20px 20px 0px 20px;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
} */